*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---------- ESTILOS MENU VERTICAL ---------- */
.vertical-menu{
    width: 100%;
    display: inline-block;
    background:  #1b4f72 ;
}
#footer_menu_vertical{
    background-color: #1c2833 ;
}
#fondo_copyright_menu_vertical{
    background-color:  #2c3e50 ;
}
#fondo_img_menu_vertical{
    background:  #1b4f72 ;   
}
#fondo_horizontal{
    margin-top: -10px;
    background:  #1b4f72 ;
}
.vertical-menu .menu_vertical{
    width: 100%;
    max-height: 100vh;
}
.vertical-menu ul{
    list-style: none;
}
.vertical-menu .menu_vertical li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    background:#1b4f72;
}
.vertical-menu .menu_vertical li a:hover{
    background-color:rgba(156, 150, 172, 0.5);;
    color: aliceblue;
}
.vertical-menu .menu_vertical .icono{
    font-size: 12px;
}
.vertical-menu .menu_vertical .icono.izquierda{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.vertical-menu .menu_vertical .icono.derecha{
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}
.vertical-menu .menu_vertical ul{
    display: none;
}
.vertical-menu .menu_vertical ul li a{
    background: #1b1b1b;
    color:aqua;
}

/* ---------- ESTILOS GENERALES PARA COMPLETAR REGISTRO ---------- */ 

.centrar_img_usuario_logueo{
    text-align: center;
    background: #ecf0f1;
}
.centrar_img_menu_vertical{
    text-align: center;
}
.img_usuario_logueo{
    width: 150px;
    padding: 20px;
}

#fondo_completar_registro{
    background-color:  #a6acaf ;
}

/* ---------- ESTILOS GENERALES DE LETRAS ---------- */ 
/*Titulo general del menu vertical*/

#titulo_general{
    display: flex;
    justify-content: left;
    align-items: center;
}
.tit_general{
    color: #4665ac;
}
.tit_datos{
    color: white;
}
#txt_opcion_menu_vertical{
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

/* ---------- ESTILOS USADOS POR TODAS LAS VISTAS ---------- */ 
#contenedor_general{
    background-color:  #ecf0f1;
    padding: 0px;
}
.formulario_general{
    width: 50%;
}
.tit_datos_op2{
    color: #83e6b4;
}

#fondo_tabla_general{
    background-color:  #547795 ;
}
#fondo_contenido_tabla_general{
    background-color:  #d0d3d4 ;
}
#fondo_contenido_tabla_original_op2{
    background-color:#ccd1d1;
}
#contenedor_general_op3{
    background-color:   #707b7c ;
}
.negrita{
    font-weight: bold;
}
.quita_negrita{
    font-weight: normal;
}
#fondo_solicitud{
    background-color: #0b5345;
}

#menu_no_disponible{
    background-color:  #1b1b1b;
}

.titulo_error{
    color: #f78181;
}
.titulo_fecha_tutoria{
    color: grey;
    font-style: italic;
    font-size: 10pt;
}
#color_verde{
    color: #0b5345;
}
#color_rojo{
    color: red;
}


#sidebar-wrapper {
    /*min-height: 100vh;*/
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    /*padding: 0.875rem 1.25rem;*/
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  