*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color:#1b1b1b;
}

/*estilos generales del contemido de la página de inicio*/
#espacio_menu_texto{
    margin-top: 15px;
}
.texto_formulario{
    color:black;
}
#cont_pag_inicio{
    background-color:  #ecf0f1 ;
}
#formulario_registro{
    margin-top: 6%;
}
/*ESTILOS PARA FORMULARIO DE REGISTRO DEL ESTUDIANTE*/
.tit_ciclo_form{
    color: #4665ac;
}
/*Estilos generales del menu header y footer de la página de inicio*/
#logo_menu{
    width: 70px;
}
#fondo_header_footer{
    background-color: rgba(150, 189, 255, 0.5); ;
}
#txt_opcion_menu_horizontal{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}
#registro{
    margin-left: 15px;
}
.negrita{
    font-weight: bold;
}
.quita_negrita{
    font-weight: normal;
}
#txt_footer{
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}
#fondo_copyright{
    background-color:#4665ac;;
}
#opciones_inicio_sesion{
    margin-left: -40px;
    float: left;
}
#opcion_logueo{
    float: left;
}
