*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*estilos para la imagen de fondo de los formularios de inicio de sesion*/
body{
    /*ubicacion de la imagen*/
    background-image: url(../images/fondo_form_logueo.jpg);
    /*para dejar la imagen de fondo centrada tanto vertical como horizontalmente*/
    background-position: center center;
    /*para que la imagen de fondo no se repita*/
    background-repeat: no-repeat;
    /*para que la imagen de fondo se ajuste a la ventana y asi evitar que la altura de la imagen no supere a la del contenido*/
    background-attachment: fixed;
    /*la imagen de fondo se reescala automaticamente con el ancho de ventana del navegador*/
    background-size: cover;
    /*color de fondo en el caso de que haya problemas cuando cargue la imagen de fondo*/
    background-color: antiquewhite;
}

/*estilo para centrar vertical y horizontalmente formulario de logueo*/
#form_admin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*background-color: rgba(49, 44, 44, 0.9);*/
    padding: 10px;
}

/**/
.centrar_img_usuario_logueo{
    text-align: center;
}
.img_usuario_logueo{
    width: 150px;
    padding: 20px;
}
/*estilos para mover texto de registro de estudiante a la izquierda del formulario de logueo*/
.texto_volver{
    text-align: center;
}